Include                      /etc/ssh/sshd_config.d/*.conf
Port                         22
LoginGraceTime               8s
PermitRootLogin              prohibit-password
StrictModes                  no
MaxAuthTries                 1
MaxSessions                  4
PubkeyAuthentication         yes
PasswordAuthentication       no
PermitEmptyPasswords         no
KbdInteractiveAuthentication no
UsePAM                       yes
AllowAgentForwarding         yes
AllowTcpForwarding           yes
PrintMotd                    no
Banner                       /etc/issue.net
AcceptEnv                    LANG LC_*
